behavior: url(includes/PIE-1.0.0/PIE.htc);

@font-face {
	font-family: 'Sosa';
	src: url('../fonts/sosa-regular-webfont.eot');
	src: url('../fonts/sosa-regular-webfont.woff') format('woff'),
		url('../fonts/sosa-regular-webfont.ttf') format('truetype'),
		url('../fonts/sosa-regular-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* STAR RATINGS */

.BVOverallRatingContainer ._BVRatingStarsContainer {
	display: block;
	float: left;
	width: 15%;
	min-width: 100px;
	height: auto;
}

._BVRatingStarsFilledImage, ._BVRatingStarsUnfilledImage {
	width: 100%;
	height: auto;
}

._BVRatingStarsText {
	display: block;
	position: absolute;
	text-indent: -9999px;
	z-index: -1;
}

._BVRatingValue, .BVRatingSeparator, ._BVRatingRange {
	float: left;
	margin: 0 3px;
}

/* CONTAINER STYLES */
#BVRRContainer, #BVQAContainer, #BVSubmissionContainer {width: 60%; margin: 0 auto; font-family: Arial, Verdana, sans-serif; font-size: 13px; line-height: 1.5em;}
#BVRRContainer, #BVQAContainer {background-color: #eee; padding: 3px;}
._BVContentLoadingContainer {background: url(../images/bvLoading.gif) no-repeat center transparent !important; min-height: 50px;}

/* General - Titles, Labels, Values */
.BVTitle {}
.BVLabel {color: #999;}
.BVValue {color: #666;}

/* Buttons */
.BVButtonWrapper {}
	.BVButtonWrapper a {display: inline-block; padding: 7px 15px; font-size: 13px; font-weight: bold; color: #333; text-shadow: 0 1px 0 rgba(255,255,255,0.9); white-space: nowrap; background-color: #eaeaea; background-image: -moz-linear-gradient(#fafafa, #eaeaea); background-image: -webkit-linear-gradient(#fafafa, #eaeaea); background-image: linear-gradient(#fafafa, #eaeaea); background-repeat: repeat-x; border-radius: 3px; border: 1px solid #ddd; border-bottom-color: #c5c5c5; box-shadow: 0 1px 3px rgba(0,0,0,0.05); vertical-align: middle; cursor: pointer; text-decoration: none;}

/* Ratings */
.BVSecondaryRatingContainer {width: 123px;}
.BVSecondaryRatingContainer:after {content: "."; height: 0; width: 0; visibility: hidden; display: block; clear: both;}
	.BVSecondaryRatingContainer ._BVRatingLabelText {display: block;}
	.BVSecondaryRatingContainer ._BVRatingStarsContainer {display: block;}
	.BVSecondaryRatingContainer .BVRatingOutOfContainer {display: none;}

/* QuickTake */
._BVQuickTakeContainer {background-color: #fff; border-bottom-width: 0; overflow: hidden;}
	._BVQuickTakeContainer ._BVOverallRatingContainer {border-width: 1px 1px 0; border-color: #ccc; border-style: solid;}
		._BVQuickTakeContainer .BVOverallRatingContainer ._BVRatingStarsContainer {float: none;}
		._BVQuickTakeContainer .BVOverallRatingContainer .BVRatingOutOfContainer {display: none;}
	._BVQuickTakeContainer ._BVOverallRatingContainer, ._BVQuickTakeContainer ._BVRecommendedContainerAverage {padding: 5px 10px;}
	._BVQuickTakeContainer ._BVRecommendedContainerAverage {clear: both; border-width: 0 1px 0; border-color: #ccc; border-style: solid;}
		._BVQuickTakeContainer ._BVRecommendedContainerAverage .BVIsRecommended {margin: 0;}
	._BVQuickTakeContainer ._BVButtonWriteReviewContainer {padding: 5px 10px; border: 1px solid #ccc; border-bottom: 1px solid #d8d8d8; background-color: #eaeaea; background-image: -moz-linear-gradient(#fafafa, #eaeaea); background-image: -webkit-linear-gradient(#fafafa, #eaeaea); background-image: linear-gradient(#fafafa, #eaeaea); background-repeat: repeat-x; overflow: hidden; }

/* Reviews Display */
._BVReviewBodyContainer, ._BVQuestionAnswerBodyContainer {background-color: #fff; border: 1px solid #ccc; padding: 5px 10px;}
	._BVReviewContainer, ._BVQuestionAnswerContainer {border-bottom: 1px solid #ccc; padding: 30px 0 20px;}
	._BVReviewContainer.BVlast, ._BVQuestionAnswerContainer.BVlast {border-bottom-width: 0;}

/* UGC Header - Rating, Title, Date */
.BVUGCHeader {}
	._BVOverallRatingContainer {}
		.BVUGCHeader ._BVRatingLabelText, .BVUGCHeader .BVRatingOutOfContainer {display: none;}
		.BVUGCHeader ._BVRatingStarsContainer {float: none;}
	._BVTitleContainer {clear: left;}
		h3._BVTitleText {margin: 10px 0;}
	._BVDateContainer {font-size: 12px; font-style: italic;}

/* User Information */
.BVUserDataContainer {margin: 10px 0; clear: both; overflow: hidden;}
	.BVAvatar {width: 46px; float: left;}
	.BVUserInfo {margin-left: 56px;}
		._BVContextDataValueGroupContainer {}
			.BVContextDataValueContainer {float: left; margin-right: 15px;}
				._BVContextDataValueLabelText {}

/* Primary UGC - Text, Tags, Recommendations */
.BVUGCPrimaryContent {margin-right: 175px;}
	._BVTagGroupContainer {margin: 10px 0;}
	._BVTagGroupContainer:after {content: "."; height: 0; width: 0; visibility: hidden; display: block; clear: both;}
		.BVTagContainer {width: 45%; float: left; margin-right: 15px;}
	._BVRecommendedContainer {clear: both;}
		.BVIsRecommended {margin: 10px 0;}

/* Secondary UGC - Secondary Ratings */
.BVUGCSecondaryContent {float: right;}
	.BVUGCSecondaryContent ._BVSecondaryRatingsContainer, .BVUGCSecondaryContent .BVUGCMediaContent {width: 150px; clear: left; margin: 10px 0;}

/* Media UGC */
._BVPhotoGroupContainer {}
	._BVPhotoThumbnail, ._BVVideoThumbnail {width: 50px; height: 50px; display: block; overflow: hidden; float: left; clear: none; margin: 0 10px 10px 0;}
		._BVPhotoThumbnail img, ._BVVideoThumbnail img {width: 125px; margin-left: -25px; display: block;}

/* Helpfulness Voting */
._BVFeedbackContainer {clear: both; margin: 10px 0;}
._BVFeedbackContainer:after {content: "."; height: 0; width: 0; visibility: hidden; display: block; clear: both;}
	._BVFeedbackCountContainer {color: #666; margin-bottom: 10px;}
	.BVFeedbackVotingPrefix {float: left; line-height: 35px; margin-right: 10px;}
		._BVFeedbackVotingContainer .BVButtonWrapper {float: left; margin-right: 10px;}
		._BVFeedbackVotingContainer .BVButtonWrapper.selected {opacity: 1;}
		._BVFeedbackVotingContainer ._BVButton.disabled {opacity: 0.5; cursor: default;}

._BVReportInappropriateContainer ._BVButton.disabled {opacity: 0.5; cursor: default;}

/* Submission Form */

/* General - Titles, Labels, Values */
._BVLabelText {width: 150px; float: left; margin-right: 10px;}
h1._BVPageHeaderText, h2._BVSectionHeaderText {margin: 10px 0;}

/* Sections */
.BVSection {border-bottom: 1px solid #eee; padding-bottom: 20px; margin-bottom: 30px;}
.BVSectionHeader {margin-bottom: 15px;}

/* Error Container */
.BVSectionErrorContainer {color: #F00;}
.BVErrorText {color: #F00 !important;}
.BVErrorBorder {border: 1px solid #F00 !important;}

/* Fields */
.BVField {clear: left; overflow: hidden; margin-bottom: 10px;}
	.BVFormInputText, .BVFormInputTextarea {padding: 7px 8px; outline: none; color: #333; background-color: #fff; background-repeat: no-repeat; background-position: right center; border: 1px solid #ccc; border-radius: 3px; box-shadow: inset 0 1px 2px rgba(0,0,0,0.075); -moz-box-sizing: border-box; box-sizing: border-box; transition: all 0.15s ease-in; -webkit-transition: all 0.15s ease-in 0; vertical-align: middle;}
	.BVFormInputText:focus, .BVFormInputTextarea:focus {border-color: #51a7e8; box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);}
	.BVFormInputText {width: 380px;}
	.BVFormInputTextarea {width: 381px; height: 125px;}
	._BVRadioButtonGroupContainer {float: left;}

/* Rating Stars */
.BVFieldRating ._BVRadioLabelText {display: none;}
/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
#BVSubmissionContainer div.rating-cancel, #BVSubmissionContainer div.star-rating {float: left; width: 23px; height: 19px; text-indent: -999em; cursor: pointer; display: block; background: transparent; overflow: hidden;}
#BVSubmissionContainer div.rating-cancel {display: none !important;}
#BVSubmissionContainer div.rating-cancel, #BVSubmissionContainer div.rating-cancel a {background: url(../images/delete.gif) no-repeat 0 -16px;}
#BVSubmissionContainer div.star-rating, #BVSubmissionContainer div.star-rating a {background: url(../images/star.gif) no-repeat 0 0px;}
#BVSubmissionContainer div.rating-cancel a, #BVSubmissionContainer div.star-rating a {display: block; width: 20px; height: 100%; background-position: 0 0px; border: 0;}
#BVSubmissionContainer div.star-rating-on a {background-position: 0 -40px !important;}
#BVSubmissionContainer div.star-rating-hover a {background-position: 0 -20px;}
/* Read Only CSS */
#BVSubmissionContainer div.star-rating-readonly a {cursor: default !important;}
/* Partial Star CSS */
#BVSubmissionContainer div.star-rating {background: transparent !important; overflow: hidden !important;}
/* END jQuery.Rating Plugin CSS */

/* Buy Again */
._BVRecommendedInputContainer ._BVRadioButtonIndividualContainer {float: left; margin-right: 15px;}

/* Tags */
._BVTagGroupInputContainer {margin-left: 160px;}
	.BVTagIndividualInputContainer {width: 35%; float: left; margin-right: 15px;}
	.BVTagIndividualInputContainer ._BVLabelText {width: auto; float: none;}
		._BVCheckboxGroupContainer ._BVCheckboxIndividualContainer {padding-bottom: 4px;}
			._BVCheckboxIndividualContainer .BVFormInputText {width: 150px;}

/* Footer */
.BVFooter {margin-left: 160px;}

/* Buttons */
.BVFieldButtonGroup .BVField {float: left; clear: none; margin-right: 10px;}
	._BVButtonSubmitContainer a {color: #fff; text-shadow: 0 1px 0 rgba(193,90,24,1); background-color: #EE8A27; background-image: -moz-linear-gradient(#EE8A27, #E86C1F); background-image: -webkit-linear-gradient(#EE8A27, #E86C1F); background-image: linear-gradient(#EE8A27, #E86C1F); border: 1px solid #EE8A27; border-bottom-color: #E86C1F;}


/* Pagination */
._BVPaginationContainer {text-align: center;}
.BVPaginationBtn {padding: 0 10px; cursor: pointer;}