<article id="" class="_BVReviewContainer">
	<div class="_BVBadgesContentContainer"></div>
	<div class="BVUGCHeader">
		<div class="_BVOverallRatingContainer"></div>
		<div class="_BVTitleContainer"></div>
		<div class="_BVDateContainer"></div>
	</div>
	<div class="_BVBadgesUserContainer"></div>
	<div class="BVUserDataContainer">
		<div class="BVAvatar">
			<img src="images/noAvatar.gif" width="46" height="44" alt="" border="0" />
		</div>
		<div class="BVUserInfo">
			<div class="_BVUserNicknameContainer"></div>
			<div class="_BVUserLocationContainer"></div>			
			<div class="_BVContextDataValueGroupContainer"></div>
		</div>
	</div>
	<div class="BVUGCSecondaryContent">
		<div class="_BVSecondaryRatingsContainer"></div>
		<div class="BVUGCMediaContent">
			<div class="_BVPhotoGroupContainer"></div>
			<div class="_BVVideoGroupContainer"></div>
		</div>
	</div>
	<div class="BVUGCPrimaryContent">
		<div class="_BVBodyTextContainer"></div>
		<div class="_BVTagGroupContainer"></div>
		<div class="_BVAdditionalFieldGroupContainer"></div>
		<div class="_BVRecommendedContainer"></div>
	</div>
	<div class="_BVFeedbackContainer"></div>
	<div class="BVUGCCommentContent">
		<div class="_BVReviewCommentsWidgetContainer"></div>
	</div>
</article>