<form id="" name="" action="" method="" data-validate="parsley">
	<div class="_BVPageHeaderContainer"></div>
	<div class="BVPageBody">
		<div class="BVSection BVSectionProductContainer">
			<div class="_BVProductInfoWidgetContainer"></div>
		</div>
		<div class="BVSection BVSectionErrorContainer">
			<div class="BVSectionHeader _BVSectionHeaderErrorsContainer"></div>
			<div class="_BVFormErrorsContainer"></div>
		</div>
		<div class="BVSection BVSectionRatingsContainer">
			<div class="BVSectionHeader _BVSectionHeaderRatingsContainer"></div>
			<div class="BVSectionBody">
				<div class="BVField BVFieldRating _BVOverallRatingInputContainer"></div>
				<div class="BVField BVFieldGroup _BVSecondaryRatingGroupInputContainer"></div>
				<div class="BVField _BVRecommendedInputContainer"></div>
			</div>
		</div>
		<div class="BVSection BVSectionReviewContainer">
			<div class="BVSectionHeader _BVSectionHeaderReviewContainer"></div>
			<div class="BVSectionBody">
				<div class="BVField _BVTitleInputContainer"></div>
				<div class="BVField _BVBodyTextInputContainer"></div>
				<div class="BVField BVFieldGroup _BVTagGroupInputContainer"></div>
			</div>
		</div>
		<div class="BVSection BVSectionMediaContainer">
			<div class="BVSectionHeader _BVSectionHeaderMediaContainer"></div>
			<div class="BVSectionBody">
				<div class="BVField _BVPhotoUploadContainer"></div>
				<div class="BVField _BVVideoUploadInputContainer"></div>
				<div class="BVField _BVVideoCaptionInputContainer"></div>
			</div>
		</div>
		<div class="BVSection BVSectionUserContainer">
			<div class="BVSectionHeader _BVSectionHeaderUserContainer"></div>
			<div class="BVSectionBody">
				<div class="BVField _BVUserNicknameInputContainer"></div>
				<div class="BVField _BVUserIdInputContainer"></div>
				<div class="BVField _BVUserEmailInputContainer"></div>
				<div class="BVField _BVUserLocationInputContainer"></div>
				<div class="BVField BVFieldGroup _BVContextDataValueGroupInputContainer"></div>
				<div class="BVField BVFieldGroup _BVAdditionalFieldGroupInputContainer"></div>
			</div>
		</div>
	</div>
	<div class="BVFooter">
		<div class="BVField _BVTermsConditionsContainer"></div>
		<div class="BVField _BVEmailAlertWhenPublishedContainer"></div>
		<div class="BVField _BVEmailAlertWhenCommentedContainer"></div>
	</div>
</form>
<div class="BVField BVFieldGroup BVFieldButtonGroup">
	<div class="BVField _BVButtonSubmitContainer"></div>
	<div class="BVField _BVButtonPreviewContainer"></div>
	<div class="BVField _BVButtonCancelContainer"></div>
</div>