<article id="" class="_BVQuestionAnswerContainer">
	<div class="_BVTitleContainer"></div>
	<div class="_BVDateContainer"></div>
	<div class="BVUserDataContainer">
		<div class="BVAvatar">
			<img src="images/noAvatar.gif" onerror="this.onerror=null; this.src=pathResource('images/noAvatar.gif');" width="46" height="44" alt="" border="0" />
		</div>
		<div class="BVUserInfo">
			<div class="_BVUserNicknameContainer"></div>
			<div class="_BVUserLocationContainer"></div>
			<div class="_BVContextDataValueGroupContainer"></div>
		</div>
	</div>
	<div class="_BVBodyTextContainer"></div>
	<div class="_BVTagGroupContainer"></div>
	<div class="_BVAdditionalFieldGroupContainer"></div>
	<div class="_BVPhotoGroupContainer"></div>
	<div class="_BVVideoGroupContainer"></div>
	<div class="_BVFeedbackContainer"></div>
</article>