<div class="_BVAnswerIndividualContainer">
	<div class="_BVDateContainer"></div>
	<div class="BVUserDataContainer">
		<div class="BVavatar"></div>
		<div class="BVUserInfo">
			<div class="_BVUserNicknameContainer"></div>
			<div class="_BVUserLocationContainer"></div>
			<div class="_BVContextDataValueGroupContainer"></div>
		</div>
	</div>
	<div class="_BVBodyTextContainer"></div>
	<div class="_BVAdditionalFieldGroupContainer"></div>
	<div class="_BVPhotoGroupContainer"></div>
	<div class="_BVVideoGroupContainer"></div>
	<div class="_BVFeedbackContainer"></div>
</div>